.f9 {
    background-color: #f9f9f9;
}

.helptext {
    color: #888
}

.errorlist {
    list-style-type: none;
    padding: 0
}

.errorlist>li {
    color: #dc3545
}

#banner {
    max-height: 500px;
    max-width: 100%;
}

#profile-pic {
    object-fit: cover;
    max-height: 200px;
    width: auto;
    margin: auto;
    display: block;
}