{% extends 'base.html' %}

{% block title %} NoughtPad - HOME {% endblock %}

{%block content %}

<h1>NoughtPad</h1>
<br>

  {% for note in object_list %}
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ note.author }}</h6>
      <p class="card-text">{{ note.body | slice:":200" }} ...</p>
      <a href="{% url 'note-details' note.pk %}" class="card-link">Read More</a>
    </div>
  </div>
  <br>
  {% endfor %}

{% endblock %}
