{% extends 'base.html' %}

{% block title %} {{ author.username }} | NoughtPad {% endblock %}

{%block content %}

<div class="card f9 border-light mb-3 w-75">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="rounded-circle" id="profile-pic" src="/media/user_content/images/gravatar_sq.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ author.first_name }} {{ author.last_name }}</h1>
        <h5 class="card-text text-muted">{{author.email}}</h5>
        <p class="card-text">Student at IIIT-Hyderabad. Writer, coder and an avid sleeper.</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <!--Website-->
          <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" class="btn btn-light">
          <i class="fas fa-lg fa-globe"></i></a>
          <!--Facebook-->
          <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" class="btn btn-light">
          <i class="fab fa-lg fa-facebook-f"></i></a>
          <!--Twitter-->
          <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" class="btn btn-light">
          <i class="fab fa-lg fa-twitter"></i></a>
          <!--GitHub-->
          <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" class="btn btn-light">
          <i class="fab fa-lg fa-github"></i></a>
          <!--LinkedIn-->
          <a href="https://getbootstrap.com/docs/4.0/components/card/" target="_blank" class="btn btn-light">
          <i class="fab fa-lg fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

  {% for note in author_notes %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
      {{ note.author.first_name }} {{ note.author.last_name }}</h6>
      <p class="card-text"> {% with rawtext=note.body|striptags %}
        {% with plaintext=rawtext|safe %}
          {{ plaintext | slice:":200" }} ...
        {% endwith %}
      {% endwith %}</p>
      <a href="{% url 'note-details' note.pk %}" class="card-link">Read More</a>
      {% if user.id == note.author.id %}
        <a href="{% url 'edit-note' note.pk %}" class="card-link">Edit</a>
        <a href="{% url 'delete-note' note.pk %}" class="card-link text-danger">Delete</a>
      {% endif %}
    </div>
    {% comment %} <div class="card-footer"><small>CATEGORY</small></div> {% endcomment %}
  </div>
  <br>
  {% endfor %}

{% endblock %}
