{% extends 'base.html' %}

{% block title %} {{ author.username }} | NoughtPad {% endblock %}

{%block content %}

<div class="card f9 border-light mb-3 w-75">
  <div class="row g-0">
    <div class="col-md-4">
      {% if author.profile.profile_pic %}
          <img class="rounded-circle border" id="profile-pic" src="{{author.profile.profile_pic.url}}" alt="...">
      {% else %}
        {% load static %}
        {% with initial=author.first_name|lower|slice:":1" %}
          {% with default_static='default/'|add:initial|add:'.png' %}
            <img class="rounded-circle border" id="profile-pic" src="{% static default_static %}" alt="...">
          {% endwith %}
        {% endwith %}
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ author.first_name }} {{ author.last_name }}</h1>
        <h5 class="card-text text-muted">{{author.email}}</h5>
        {% if author.profile %}
          {% with profile=author.profile%}
            <p class="card-text">{{profile.about}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              {% if profile.website %}
              <!--Website-->
              <a href="{{profile.website}}" target="_blank" class="btn btn-light">
              <i class="fas fa-lg fa-globe"></i></a>
              {% endif %}
              {% if profile.facebook %}
                <!--Facebook-->
                <a href="{{profile.facebook}}" target="_blank" class="btn btn-light">
                <i class="fab fa-lg fa-facebook-f"></i></a>
              {% endif %}
              {% if profile.twitter %}
                <!--Twitter-->
                <a href="{{profile.twitter}}" target="_blank" class="btn btn-light">
                <i class="fab fa-lg fa-twitter"></i></a>
              {% endif %}
              {% if profile.instagram %}
                <!--Instagram-->
                <a href="{{profile.instagram}}" target="_blank" class="btn btn-light">
                <i class="fab fa-lg fa-instagram"></i></a>
              {% endif %}
              {% if profile.github %}
                <!--GitHub-->
                <a href="{{profile.github}}" target="_blank" class="btn btn-light">
                <i class="fab fa-lg fa-github"></i></a>
              {% endif %}
              {% if profile.linkedin %}
                <!--LinkedIn-->
                <a href="{{profile.linkedin}}" target="_blank" class="btn btn-light">
                <i class="fab fa-lg fa-linkedin-in"></i></a>
              {% endif %}
              {% if profile.link %}
                <!--Other-->
                <a href="{{profile.link}}" target="_blank" class="btn btn-light">
                <i class="fas fa-lg fa-link"></i></a>
            {% endif %}</
            div>
          {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br>

  {% for note in author_notes %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ note.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
      {{ note.author.first_name }} {{ note.author.last_name }}</h6>
      <p class="card-text"> {% with rawtext=note.body|striptags %}
        {% with plaintext=rawtext|safe %}
          {{ plaintext | slice:":200" }} ...
        {% endwith %}
      {% endwith %}</p>
      <a href="{% url 'note-details' note.pk %}" class="card-link">Read More</a>
      {% if user.id == note.author.id %}
        <a href="{% url 'edit-note' note.pk %}" class="card-link">Edit</a>
        <a href="{% url 'delete-note' note.pk %}" class="card-link text-danger">Delete</a>
      {% endif %}
    </div>
    {% comment %} <div class="card-footer"><small>CATEGORY</small></div> {% endcomment %}
  </div>
  <br>
  {% endfor %}

{% endblock %}
