{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

<h1>Settings</h1>
<br>

{% if user.is_authenticated %}
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Update</button>
        </div>
    </form>

    <script>
        document.getElementById("id_password").style.display = "none";
        document.querySelectorAll('[for="id_password"]')[0].style.display = "none";
    </script>
{% else %}
    <h5>You must be logged in to perform this operation.</h5>
{% endif %}

{% endblock %}